<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="end">

      <firebase-ui></firebase-ui>
      <h1 *ngIf="afAuth.auth.currentUser">
        Welcome {{afAuth.auth.currentUser.displayName}}!
      </h1>
      <ion-button *ngIf="afAuth.auth.currentUser" (click)="signOut()">Sign Out</ion-button>

      <ion-button *ngIf="loggedIn" [routerLink]="['/login']" fragment="logout">
        <ion-label>{{ afAuth.auth.currentUser.displayName }}</ion-label>
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>

      <ion-button *ngIf="!loggedIn" [routerLink]="['/login']">
        <ion-icon slot="icon-only" name="log-in"></ion-icon>
      </ion-button>

    </ion-buttons>

    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>

</ion-header>
