# Node.js with Angular
# Build a Node.js project that uses Angular.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
- master

pool:
  vmImage: 'Ubuntu-16.04'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '10.x'
  displayName: 'Install Node.js'

- script: |
    npm install -g @angular/cli
    npm install
    npm run test-headless
    ng e2e
  displayName: 'npm install and tests'
  workingDirectory: frontend/

- script: |
    ng build --prod
  displayName: 'ng build --prod'
  workingDirectory: frontend/

- task: PublishBuildArtifacts@1
  inputs:
    sourceFolder: '$(Build.SourcesDirectory)'
    contents: '**/*'
    pathtoPublish: '$(Build.ArtifactStagingDirectory)'
    artifactName: drop
