
<agm-map [latitude]="51.673858" [longitude]="7.815982">
  <agm-marker [latitude]="51.673858" [longitude]="7.815982">
    <agm-snazzy-info-window [maxWidth]="200" [closeWhenOthersOpen]="true">
      <ng-template>
        My first Snazzy Info Window!
      </ng-template>
    </agm-snazzy-info-window>
  </agm-marker>

  <agm-marker
    *ngFor="let marker of markers; let index = index"
    [latitude]="marker.lat"
    [longitude]="marker.lng"
    [opacity]="marker.alpha"
    [iconUrl]="marker.icon"
    [markerDraggable]="false"
    (markerClick)="selectMarker($event, index)"
  >
  </agm-marker>
</agm-map>

<!--<div class="marker-control__container" *ngIf="selectedMarker">-->
<!--  <div class="marker-control__buttons-wrapper">-->
<!--    <div class="marker-control__button marker-control__button&#45;&#45;top" (click)="rotateMarker(0)">-->
<!--    0 DEG-->
<!--    </div>-->
<!--    <div class="marker-control__button marker-control__button&#45;&#45;left" (click)="rotateMarker(90)">-->
<!--    90 DEG-->
<!--    </div>-->
<!--    <div class="marker-control__button marker-control__button&#45;&#45;right" (click)="rotateMarker(180)">-->
<!--    180 DEG-->
<!--    </div>-->
<!--    <div class="marker-control__button marker-control__button&#45;&#45;down" (click)="rotateMarker(300)">-->
<!--    300 DEG-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

