<app-header title="Game selector"></app-header>

<ion-content>
    <div class="game-selector__wrapper_bak" *ngIf="gameSelectorsData">
        <ion-card  class="card" *ngFor="let item of gameSelectorsData">

          <div  style="height: 25vh; width: 100%;"
            leaflet
                [leafletOptions]="makeOptions(item)"
          ></div>

          <div class="card-body">
            <h5 class="card-title">{{item.name}}</h5>
            <p class="card-text">Online: {{item.usersOnline}}</p>
            <a [routerLink]="['/', 'map', item.id]" class="ion-color-primary">Play the game</a>
          </div>
      </ion-card >
    </div>
</ion-content>
